.webdriver--info, [class*="webdriver--"] {
	padding: 1.2rem;
	background: #FFE5B6;
}

.webdriver--response {
    background: #def8f3;
}

#content-area {
    height: 175px;
}

#command-description {
    font-weight: bold;
}

@media (min-width: 33.75em) {
    .module--tutorial-aside {
        float: right;
    }
}